<div class="search clearfix">
	<div class="col-md-8 col-md-offset-2">
		<a href="http://spoonuniversity.com"><img id="logo" src="<%= asset_path 'logo.png' %>"></a>
		<h1 id="goodlooking">Hey good looking,</h1>
		<h1 class="super">What's cooking?</h1>
		<form class="form-horizontal" role="form" action="<%= recipes_path %>" method="get">
			<div class="form-group">
				<label class="sr-only" for="ingredients">Ingredients</label>
				<input class="search-text form-control hidden-xs" type="text" name="ingredients" placeholder="In my kitchen, I have... (you can have more than one thing)" autocomplete="off">
				<input class="search-text form-control visible-xs" type="text" name="ingredients" placeholder="In my kitchen, I have..." autocomplete="off">
			<div class="radio col-xs-6">
			  <label>
			    <input type="radio" name="how" id="optionsRadios1" value="and" checked>
					I wanna use all this in the same recipe.
			  </label>
			</div>
			<div class="radio col-xs-6">
			  <label>
			    <input type="radio" name="how" id="optionsRadios2" value="or">
					I wanna see all the recipes with any of these.
			  </label>
			 </div>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<button class="btn-lg btn btn-default" type="submit" id="submit">Let's Spoon</button>
			</div>
		</form>
	</div>
</div>

