html, body {
	font-family:'museo-sans-rounded';
	background: #23b2a6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzYjJhNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzI3YmJjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGU3ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #23b2a6 0%, #27bbce 49%, #84e7f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23b2a6), color-stop(49%,#27bbce), color-stop(100%,#84e7f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #23b2a6 0%,#27bbce 49%,#84e7f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #23b2a6 0%,#27bbce 49%,#84e7f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #23b2a6 0%,#27bbce 49%,#84e7f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #23b2a6 0%,#27bbce 49%,#84e7f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23b2a6', endColorstr='#84e7f4',GradientType=0 ); /* IE6-8 */
	color:#ffffff;
}

html {
	height: 100%;
}

body, div.container {
	min-height: 100%;
}

a:hover {
	text-decoration:none;
	color:#de3163;
}

a {
	color: #ffffff;
}

.show, .saved, .later {
	text-align:center;
}

.search {
	margin-top:-50px;
}

h1,h2,h3,h4 {
	font-family:'museo-sans-rounded';
	font-weight:900;
	text-transform:uppercase;
	text-align:center;
	text-shadow: 2px 2px rgba(0,0,0,.4);
}

h1.super {
	font-size:50px;
}

input.search-text {
	width:100%;
	text-align:center;
}

button#submit {
	width:100%;
}

.recipe-show {
	text-align:center;
}

.show h1 {
	font-size:40px;
	text-shadow: 6px 0px rgba(0,0,0,.4);
	color:#efefef;
}

.show p {
	color:white;
	font-weight:500;
	font-size:20px;
	text-shadow: 2px 2px rgba(0,0,0,.4);
}

.saved a {
	color:#ffffff;
}

.show .btn {
	margin:10px;
}

.form-horizontal {
	margin:20px 20px;
}

.sidenote {
	color:#cccccc;
	font-size: 14px;
	font-weight:300;
	text-transform:uppercase;
}

.notice {
	color:#cc6666;
}

.btn.search {
	margin: 20px;
}

.index {
	text-align:center;
	color:#ffffff;
	}

.index .list-unstyled a {
	display:block;
	margin: 25px 0px;
	text-shadow: 2px 2px rgba(0,0,0,.4);
}


img#logo {
	width:70%;
	margin: 0 10%;
}

input.search-text {
	font-size:20px;
	height:50px;
}

.radio label {
	font-size:16px;
}

nav {
	padding:15px;
	text-shadow: 1px 2px rgba(0,0,0,.4);
	font-weight:700;
}

.navbar a {
	color:#ffffff;
}

.navbar span {
	padding: 0px 15px;
}

.liked {
	background-color: #cc3366;
	border: #8f2447;
}

.liked:hover {
	background-color: #d65c85;
}

.likers {
	font-size:17px;
}

a.later {
	color:#ffffff;
	display:block;
	height:150px;
	padding:0px;
}

.later div {
	width:100%;
	height:100%;
	padding:15px;
}

.later div:hover {
	background-color:rgba(0,0,0,.2);
}

#footer {
	position:static;
	bottom:0px;
/*	background: rgba(255,255,255,.5); */
	width:100%;
	padding: 15px 0px 5px;
	color: #999999;
	text-align:center;
}

.saved .row {
	margin: 30px 0px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 	.show h1 {
		font-size:90px !important;
	}

 	.show p {
		font-size:30px !important;	
	}

	h1.super {
		font-size: 100px;
	}

	h2.super {
		font-size: 80px;
	}

	img#logo {
		width:50%;
		margin: 0 25%;
	}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	img#logo {
		width:40%;
		margin: 0 30%;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	h1.super {
		font-size: 120px;
	}

 }














